*{
 padding: 0;  
 margin: 0; 
 box-sizing: border-box;
 
}

span{
    color: orange;
}

body{
   padding: 10px;
   margin: 20px;
   width: 100%;

}

header{

    width: 100%;
}

.dec{

    display: flex;
}

.topa{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.thema h1{

    margin-left: 0px;
}

#together{

    display: flex;
    justify-content: start;
}

.wording p,.wording h1{

    margin-left: 50px;
}



.nav{
    flex-grow:3;
    
    justify-content: space-between;

    
}

.nav ul li{

    display: inline-block;
    margin: 50px;
    
}


.lg{
flex-grow: 1;

}

.thema{

flex-grow: 1;
}
.nav ul{
    
    display: flex;
    justify-content:center;
    margin: 30px;

    list-style: none;

    

}



section{
    margin: 20px;
    padding: 50px;
}

.inline{

    
    
}

.wording p{

    margin: 50px;
    font-size: 40px;
}


.quality, .delicious, .delivery{


    margin: 50px;
    padding: 30px;
    border: 1px solid darkgray;
    border-radius: 30px;
    height: 300px;
    font-size: 50 px;
    
    


}

.delivery{

    height: 450px;
    font-size: 70px;
    text-align: center;
    align-self: center;
    line-height: 50px;
    
}
.delivery h2{

font-size: 30px;

}

.prop{
    margin: 50px;
    padding: 50px;

    display: flex;
    justify-content: space-between;
}
.prop h2{

    margin: 10px;
}
.prop p{

    font-size: 20px;
}

#dis{

    text-align: center;
    font-size: 50px;
    text-decoration:none;
}

.available, .small, .medium, .large, .x-large, .huge{


margin: 5px;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 70px;
    font-size: 50 px;
    width: 500px;
    align-items: center;
    background-color: lightskyblue;

    
}


.line1 ,.line2{

    display: flex;
    justify-content: space-between;
    margin: 50px;
    max-width:100%;
}


.mobile-phone{

    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: orange;
    


}
.ph1,ph2(

)



    .general{

        display:flex;
        j
    }


#email{

height: 50px;

}

#green{

background-color: darkorange;
height: 50px;
width: 100px;
border: 2px solid red;
border-radius: 30px;


}





.burger{

    display: flex;
}

.decker{
    margin: 100px;

    display: flex;
    justify-content: space-between;
}
.text p, h1{

    
    font-size: 40px;
}

.images img{

    display:block;
}

.up{

    margin-top:0;
}
.cax{

background-color: orange;
width: 100%;
background: linear-gradient(100deg, white 50%, orange 50%);
    
}

.inline img{


    float: right;
}

.orange{

color: orange;
}

.images{
    float:right ;
}

