*{
 padding: 0;  
 margin: 0; 
 box-sizing: border-box;
 
}

span{
    color: orange;
}

body{
   padding: 10px;
   margin: 20px;
   width: 100%;
   font-family: 'Open Sans', sans-serif;

}

header{
    height: 100vh;
    width: 100%;
}

.dec{

    display: flex;
}

.topa{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#together{

    display: flex;
    justify-content: start;
}

.thema {
    padding-top: 20px;
    font-family: 'Lobster', cursive;
}

.wording p,.wording h1{

    margin-left: 50px;
}



.nav{
    flex-grow:3;
    
    justify-content: space-between;

    
}

.nav ul li{

    display: inline-block;
    margin: 50px;
    
}

.nav ul{
    
    display: flex;
    justify-content:center;
    margin: 30px;

    list-style: none;

    

}



section{
    margin: 20px;
    padding: 50px;
}

.inline{

    
    
}

.wording p{

    margin: 50px;
    font-size: 40px;
}


.quality, .delicious, .delivery{


    margin: 50px;
    padding: 30px;
    border: 1px solid maroon;
    border-radius: 30px;
    height: 300px;
    font-size: 50 px;
    text-align: center;
    
    


}

.delivery{

    height: 450px;
    font-size: 70px;
    text-align: center;
    align-self: center;
    line-height: 50px;
    
}
.delivery h2{
color: maroon;
font-size: 30px;

}

.quality h2{color: maroon;}
.delicious h2{ color: maroon;}

.prop{
    margin: 50px;
    padding: 50px;

    display: flex;
    justify-content: space-between;
}
.prop h2{

    margin: 10px;
}
.prop p{

    font-size: 20px;
}

#dis{

    text-align: center;
    font-size: 50px;
    text-decoration:none;
}
 
#dis :hover{

    border-bottom: 10px solid red;
}
.available, .small, .medium, .large, .x-large, .huge{


margin: 5px;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 70px;
    font-size: 50 px;
    width: 500px;
    background-color: lightskyblue;
    text-align: center;

    
}


.line1 ,.line2{

    display: flex;
    justify-content: space-between;
    margin: 50px;
    max-width:100%;
}


.mobile-phone{

    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90vw;
    background-color: orange;
    height: 80vh;
    


}

.ph1 img, .ph2 img{width: 300px;}
.ph2{margin-right: 20px;}

.playstore{
margin-left: 20px;
    margin-top: 100px;
}
.ph1,ph2{



}





    .general{

        display:flex;
        justify-content: space-between;
        
        
        
    }


    .sitemap ul li{

        list-style: none;
        
    }


#email{

height: 50px;

}
.email p{margin-bottom: 20px;}

#green{

background-color: darkorange;
height: 50px;
width: 100px;
border: 2px solid red;
border-radius: 30px;


}





.burger{

    display: flex;
}

.decker{
    margin: 100px;

    display: flex;
    justify-content: space-between;

    height: 700px;
    
    background-color: ivory;
}
.text p, h1{

    
    font-size: 40px;
}

.images img{

    display:block;
}

.up{

    margin-top:0;
}
.cax{

background-color: orange;
width: 100%;
background: linear-gradient(100deg, white 50%, orange 50%);
    
}

.inline img{


    float: right;
}

.orange{

color: orange;
}

.images{
    float:right ;
    position: relative;


}

.discover{

    margin: 30px;
}

.up{
position: absolute;
right: 400px;
top: 200px;

}

.low{
position: absolute;
right: 250px;


}
.text{
    margin-top: 100px;
    margin-right: 100px;
}
.burger, .sitemap, .email{


    margin: 100px;
}

.downa{

    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}

.icon ul li{

    list-style: none;
    justify-content: space-between;
    margin: 40px;
}

.icon ul{

    display: flex;
    justify-content: space-between;
    
}

.name{

    margin-right: 20px;
    margin-top: 30px;
}
.copyright{


    margin-top: 30px;
    margin-left: 20px;
}

.wording button{
padding: 20px;
margin-left: 200px;
margin-top: 50px;
border-radius: 30px 30px 0 30px;
background-color: orange;
border: none;
color: white;

}

.prop img{

    height: 50px;
    width: 50px;
}

.list :first-child{

    border-bottom: 8px solid red;
    border-radius: 10px;
}
